
h1 {
    background-color: rgb(69, 103, 134);
    text-align: center;
    color: white;
    
}

.wk5 section {
    padding: .5rem 2%;
    background-color: #bdbfc7;
}

form {
    background-color: #bdbfc7 ;
}

.wk5 input[type="submit"] {
    margin-left: 1.5rem;
    margin-bottom: .5rem;
    width: 100%;
    max-width: 400px;
    padding: .75rem;
    background-color: rgb(178, 221, 217);
    font-size: 15px;
    box-shadow: 1px 1px 4px #999;
    
    
}

.wk5 input[type="checkbox"] {
        padding: .5rem;
    
    
}

.wk5 div {
    font-size: 1.2rem;
}

.wk5 select {
    padding: .75rem;
    width: 100%;
    max-width: 400px;

}

.wk5 input[type="date"] {
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    font-size: 15px;
    display: block;
}

.checkboxSection {
    display: grid;
}

.or {
    display: grid;
}


footer {
    background-color: rgb(69, 103, 134);
    padding: .5rem 2%;
    text-align: center;
    color: white
    
}
