
header {
    background-color: rgb(69, 103, 134);
    text-align: center;
    color: white;
    padding: .75rem;    
}

form {
    background-color: #bdbfc7 ;
}

.wk5 select {
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    
}
.or, .pn, .date, .cbs {
    display: grid;
    padding: 1.25rem;
}

.wr {
    display: grid;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.wk5 input[type="date"] {
    display: block;
    width: 78.5%;
    max-width: 400px;
    padding: .75rem;
    margin: 1.5rem 1% 2rem 1.5 ;
}

.wk5 input[type="checkbox"] {
    padding: .5rem;
    
    
}

.cbs p {
    margin-top: 0;
    font-size: 14px;
    font-style: italic;
}

.wk5 label [type="review"] {
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}



.wk5 input[type="submit"] {
    border: none;
    background-image: linear-gradient(rgb(122, 245, 245), rgb(87, 154, 185));
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    padding: .75rem;
    font-size: 18px;      
}

footer {
    background-color: rgb(69, 103, 134);
    padding: .5rem 2%;
    text-align: center;
    color: white
    
}
