
/******************************** 
*
*   Varables 
*
********************************/
:root {
 
    --primary-color: #82a394;
    --secondary-color: #c9b8ae;
    --accent1-color: #d9965b;
    --accent2-color: #d8d4d4;
    --accent3-color: #403d3e;

    
    --heading-font: "Roboto";
    --paragraph-font: Montserrat, sans-serif;
  
}

/******************************** 
*
*   Default tags
*
********************************/
html {
    background-color: #e5ebe9;
}

.title {
    font-family: var(--heading-font);
    font-size: 1.25rem;
}

p {
    font-family: var(--paragraph-font);
}

img {
    width: 100%;
    height: auto;
}


/*******************************
This is for the hamburger icon 
********************************/
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #403d3e;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    padding-right: 1rem;
    position: absolute;
    top: 3rem;
    right: 2vw;
}

#myButton::before {
    content: "\2630"
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: #403d3e;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.3rem;
}

li.current-menu-item a {
    background-color: #403d3e
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

#myButton.open::before {
    content: "x";
}

ul.menuLinks.open {
    display: block;
}


/******************************** 
*
*             Header 
*
********************************/

ul.menuLinks a:hover {
    background-color: rgba(255,255,255,0.2);
}

header img {
    width: 90%;
    margin: auto .5rem;
}
header {
    background-color: var(--primary-color);
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 100px 1fr;
    text-align: left;
    margin: 0 auto;
}

nav {
    grid-column: 1/3;
}

h1 {
    font-size: 1.75rem;
}



/******************************** 
*
*   footer
*
********************************/


footer {
    background-color: #82a394;
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    
}

/******************************** 
*
*   Home
*
********************************/

#heroMsg {
    position: absolute;
    top: 1rem;
    background-color: rgba(255, 255, 255, .5);
    padding: 1rem;
}

#heroMsg p {
    font-weight: 600;
}

#hero {
    position: relative;
}

#intro {
    font-weight: 600;
}
#msg {
    font-weight: 500;
    
}
.note {
    text-align: justify;
    margin-bottom: .3rem;
}
.fr {
    text-align: center;
    margin-top: 0;
   
}

/****************************
        Contact Us Page
******************************/


/* Menu */
.menu {
    font-size: 1.3rem;
    font-weight: 600;
}

/* Select Item  */
.item select {
    padding: .75rem;
    width: 100%;
    max-width: 400px;    
}


/* Rating */
.or {
    display: grid;
    padding: 1.25rem;   
}

#rating {
    font-weight: 600;
}

.wr {
    display: grid;
    padding-bottom: 1.5rem;
    font-weight: 600;
}

/* Submit button */

.item input[type="submit"] {
    border: none;
    background-color: #c9b8ae;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    padding: .50rem;
    font-size: 18px;
    margin-bottom: 1rem;      
}
.contact-us {
    display: grid;
}

.contact-us h1 {
    text-align: center;
}

form {
    margin: 0 auto;
}
/************************
          Menu Page
**************************/
.menuitem {
    margin: 1rem;

}

.menuitem img {
    width: 80%;
    margin: 0 auto;
}

.opening p {
    margin: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: #d9965b;
}

.menu-page h1 {
    text-align: center;
}