body {
    font-family: "Roboto", sans-serif;
}
header h1 {
    background-color: rgb(25, 120, 184); 
    color: white;
    font-size: 30px;  
    text-align: center;
    grid-column: 1 / 4;
    padding: 1rem;
    margin: 0;
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    grid-column: 1/3;
    
        
}
.navigation a {
    display:block;
    color: black;
    flex: 1 1 auto;
    padding: .75rem;
    text-align: center;
    color: white;
        
}

.navigation a:hover {
    text-decoration: overline;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
}
img {
    display: block;
    margin: 0 auto;
}
.card {
    margin: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid h3 {
    grid-column: 1 / 3;
    text-align: center;
    border-bottom: 1px solid black;
    width: 50%;
    margin: 1rem auto;
}

.card h2 {
    
    background-color: rgb(25, 120, 184);
    color: white;
    text-align: center;
    margin: 0px; 
    font-size: 17px; 
    padding: 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
} 
.state div {
    text-align: center;
}
.state p {
    padding: 1rem;
}
.state img {
    border: 1px solid black;
}
.about {
    padding: 1rem;
}
footer {
    background-color: rgb(25, 120, 184);
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 1rem;
    
}